<header class="flight-header flex justify-content-between align-items-center">

    <div class="mobile-view">
        <button type="button" pButton pRipple icon="pi pi-bars" (click)="menu.toggle($event)"></button>
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>

    <div class="flex desktop-view">
        <button pButton type="button" label="Loty" class="button button--large mr-2"></button>
        <button pButton type="button" label="Rezerwacje" class="button button--large"></button>
    </div>

    <div class="flight-header__second-section flex">

        <button pButton type="button" class="button button--small mr-2">
            <i class="pi pi-shopping-cart" pBadge value="2" severity="danger"></i>
        </button>

        <!-- <button pButton type="button" icon="pi pi-user" iconPos="right" class="button button--small mobile-view">
        </button> -->

        <button pButton type="button" label="Jan Kowalski" icon="pi pi-user" iconPos="right"
            class="button button--large">
        </button>

    </div>
</header>