<header class="flight-header flex align-items-center justify-content-end">

  <div class="mobile-view">

    <button type="button" pButton pRipple icon="pi pi-bars" (click)="menu.toggle($event)"></button>
    <p-menu #menu [popup]="true" appendTo="body" [model]="items"></p-menu>

  </div>

  <div class="flex justify-content-between w-full desktop-view">

    <div>
      <button pButton type="button" label="Flights" class="button button--large mr-2" routerLink="flights"
        routerLinkActive="underline"></button>
      <button pButton type="button" label="Reservation" class="button button--large"></button>
    </div>

    <div class="flex">

      <button pButton type="button" class="button button--small mr-2" *ngIf="count$ | async as count">
        <i class="pi pi-shopping-cart" pBadge [value]="count" severity="danger"></i>
      </button>
      <button pButton type="button" label="Jan Kowalski" icon="pi pi-user" iconPos="right" class="button button--large">
      </button>

    </div>

  </div>
</header>