@use 'variables';
@use 'media-queries';

.reservation-header {
    &__line {
        color: variables.$secondary-blue;
    }

    &__icon {
        transform: rotate(90deg);
    }
}
.reservation-form {
    &__wrapper {
        gap: 8px;
    }
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__label {
        font-weight: 400;
    }
}
