<div class="reservation-container">
    <header class="reservation-header flex justify-content-between mb-3">
        <h3>
            Flight booking
        </h3>
        <span class="reservation-header__line">
            <strong>
                {{choosenCityFrom[0]?.name | slice:0:3 | uppercase}}
                <i class="reservation-header__icon pi pi-sort-alt"></i>
                {{choosenCityTo[0]?.name | slice:0:3|uppercase}}
            </strong>
        </span>
    </header>
    <form [formGroup]="reservationForm" class="reservation-form">
        <div class="reservation-form__wrapper flex justify-content-between">
            <div class="input-box">
                <label for="firstName" class="input-box__label text-xs sm:text-sm my-2">
                    First name
                </label>
                <input type="text" id="firstName" pInputText formControlName="firstName"
                    [ngClass]="{'ng-invalid ng-dirty':firstName?.invalid && (firstName?.dirty || firstName?.touched)}"
                    placeholder="Enter name" />
            </div>
            <div class="input-box">
                <label for="lastName" class="input-box__label text-xs sm:text-sm my-2">
                    Last name
                </label>
                <input type="text" id="firstName" pInputText formControlName="lastName"
                    [ngClass]="{'ng-invalid ng-dirty':lastName?.invalid && (lastName?.dirty || lastName?.touched)}"
                    placeholder="Enter last name" />
            </div>
        </div>
        <div class="reservation-form__wrapper flex justify-content-between">
            <div class="input-box">
                <label for="numberOfPeople" class="input-box__label text-xs sm:text-sm my-2">
                    Number of people
                </label>
                <p-inputNumber [min]="1" [max]="100" id="numberOfPeople" mode="decimal" formControlName="numberOfPeople"
                    placeholder="choose the number of people">
                </p-inputNumber>
            </div>
            <div class="input-box">
                <label for="flightClass" class="input-box__label text-xs sm:text-sm my-2">
                    Class
                </label>
                <p-dropdown [options]="flightClasses" formControlName="flightClass" optionLabel="name"
                    inputId="flightClass">
                </p-dropdown>
            </div>
        </div>
        <div class="reservation-form__wrapper flex justify-content-between">
            <div class="input-box">
                <label for="departureDate" class="input-box__label text-xs sm:text-sm my-2">
                    Departure date
                </label>
                <p-calendar [showTime]="true" formControlName="departureDate" hourFormat="24" dateFormat="yy-mm-dd"
                    dataType="string" inputId="departureDate" appendTo="body" icon="pi pi-calendar" [showIcon]="true">
                </p-calendar>
            </div>
            <div class="input-box">
                <label for="returnDepartureDate" class="input-box__label text-xs sm:text-sm my-2">
                    Departure date
                </label>
                <p-calendar [showTime]="true" formControlName="returnDepartureDate" hourFormat="24"
                    dateFormat="yy-mm-dd" dataType="string" inputId="returnDepartureDate" appendTo="body"
                    icon="pi pi-calendar" [showIcon]="true">
                </p-calendar>
            </div>
        </div>

        <div class="reservation-form__wrapper flex justify-content-between">
            <div class="input-box">
                <label for="cityFrom" class="input-box__label text-xs sm:text-sm my-2">
                    Place of departure
                </label>
                <p-dropdown [options]="choosenCityFrom" formControlName="cityFrom" optionLabel="name"
                    inputId="cityFrom">
                </p-dropdown>
            </div>

            <div class="input-box">
                <label for="cityTo" class="input-box__label text-xs sm:text-sm my-2">
                    Place of arrival
                </label>
                <p-dropdown [options]="choosenCityTo" formControlName="cityTo" optionLabel="name" inputId="cityTo">
                </p-dropdown>
            </div>
        </div>
        <div class="reservation-form__wrapper flex justify-content-center mt-3">
            <button pButton type="button" label="Add to basket" [disabled]="reservationForm?.invalid"
                (click)="AddToBasket()"></button>
        </div>

    </form>
</div>