<div class="reservation-container">
    <header class="reservation-container__header flex justify-content-between mb-3">
        <h3>
            Rezerwacja lotu
        </h3>
        <span>
            WAW -> LUB
        </span>
    </header>
    <form class="reservation-form">
        <div class="reservation-form__wrapper flex justify-content-between">
            <div class="input-box">
                <label for="firstName" class="input-box__label text-xs sm:text-sm my-2">
                    first name
                </label>
                <input type="text" id="firstName" pInputText />
            </div>
            <div class="input-box">
                <label for="lastName" class="input-box__label text-xs sm:text-sm my-2">
                    last name
                </label>
                <input type="text" id="firstName" pInputText />
            </div>
        </div>
        <div class="reservation-form__wrapper flex justify-content-between">
            <div class="input-box">
                <label for="numerOfPeople" class="input-box__label text-xs sm:text-sm my-2">
                    Number of people
                </label>
                <p-inputNumber [min]="1" [max]="100" mode="decimal"></p-inputNumber>
            </div>
            <div class="input-box">
                <label for="class" class="input-box__label text-xs sm:text-sm my-2">
                    Class
                </label>
                <p-dropdown [options]="[]" formControlName="class" optionLabel="name" inputId="class"></p-dropdown>
            </div>
        </div>
        <div class="reservation-form__wrapper flex justify-content-between">
            <div class="input-box">
                <label for="departureDate" class="input-box__label text-xs sm:text-sm my-2">
                    Departure date
                </label>
                <p-calendar [showTime]="true" formControlName="departureDate" hourFormat="24" dateFormat="dd-mm-yy"
                    inputId="departureDate" appendTo="body" icon="pi pi-calendar" [showIcon]="true">
                </p-calendar>
            </div>
            <div class="input-box">
                <label for="departureDate" class="input-box__label text-xs sm:text-sm my-2">
                    Departure date
                </label>
                <p-calendar [showTime]="true" formControlName="departureDate" hourFormat="24" dateFormat="dd-mm-yy"
                    inputId="departureDate" appendTo="body" icon="pi pi-calendar" [showIcon]="true">
                </p-calendar>
            </div>
        </div>

        <div class="reservation-form__wrapper flex justify-content-between">
            <div class="input-box">
                <label for="cityFrom" class="input-box__label text-xs sm:text-sm my-2">
                    Place of departure
                </label>
                <p-dropdown [options]="[]" formControlName="cityFrom" optionLabel="name" inputId="cityFrom">
                </p-dropdown>
            </div>

            <div class="input-box">
                <label for="cityTo" class="input-box__label text-xs sm:text-sm my-2">
                    Place of arrival
                </label>
                <p-dropdown [options]="[]" formControlName="cityTo" optionLabel="name" inputId="cityTo"></p-dropdown>
            </div>
        </div>
        <div class="reservation-form__wrapper flex justify-content-center mt-3">
            <button pButton type="button" label="Add to basket"></button>
        </div>

    </form>
</div>