<ng-container *ngIf="isMobile; then mobile; else desktop"></ng-container>

<ng-template #mobile>
  <div class="card">
    <p-table [columns]="cols" [value]="items" [scrollable]="true" [rows]="1" scrollHeight="260px" [virtualScroll]="true"
      [virtualRowHeight]="30" [rowHover]="true">
      <ng-template pTemplate="caption">
        <div class="table-header">
          List of flights
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns *ngIf="theadVisible">
        <tr>
          <th *ngFor="let col of columns" class="text-xs sm:text-sm p-3 px-2">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <ng-container *ngFor="let col of columns">
            <td *ngIf="col.field !== 'button'" class="text-xs sm:text-sm p-1 px-2">
              {{rowData[col.field]}}
            </td>
            <td *ngIf="col.field === 'button'" class="text-right p-1 px-2">
              <button pButton type="button" icon="pi pi-arrow-circle-right" class="p-button-link"
                (click)="actionOnButtonClick(rowData)">
              </button>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>

<ng-template #desktop>
  <div class="card">
    <p-table [columns]="cols" [value]="items" [paginator]="true" [rows]="8" [rowHover]="true">
      <ng-template pTemplate="caption">
        <div class="table-header">
          List of flights
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns *ngIf="theadVisible">
        <tr>
          <th *ngFor="let col of columns" class="text-xs sm:text-sm p-3 px-2">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <ng-container *ngFor="let col of columns">
            <td *ngIf="col.field !== 'button'" class="text-xs sm:text-sm p-1 px-2">
              {{rowData[col.field]}}
            </td>
            <td *ngIf="col.field === 'button'" class="text-right p-1 px-2">
              <button pButton type="button" icon="pi pi-arrow-circle-right" class="p-button-link"
                (click)="actionOnButtonClick(rowData)">
              </button>
            </td>
          </ng-container>
        </tr>

      </ng-template>
    </p-table>
  </div>
</ng-template>