@use 'media-queries';

.main-container {
  height: 100%;
  width: 100%;

  @include media-queries.responsive(medium-devices) {
    //margin-top: 2rem;
  }

  &__sub-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 940px;
    margin: auto;
  }
}
