@use 'media-queries';

.main-container {
  height: 100%;
  width: 100%;

  @include media-queries.responsive(medium-devices) {
    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 50%;
  }

  &__sub-container {
    display: flex;
    flex-direction: column;
    max-width: 940px;
    margin: auto;
    height: 100%;

    @include media-queries.responsive(medium-devices) {
      height: auto;
    }
  }

  &__footer {
    margin-top: auto;
  }
}
