@use "variables";

.flight-footer {
  height: 60px;
  background-color: variables.$primary-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  &__info {
    color: variables.$light;
    font-size: 0.75rem;
  }
}
