@use 'variables';

@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap") format("font-woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
}
html,
body {
    height: 100%;
    background-color: variables.$gray-light;
}

.underline {
    text-decoration: underline;
}
