<div class="flights-filter-container flex flex-column justify-content-center">

  <h3 class="flights-filter-container__heading">
    Search for flights
  </h3>

  <form [formGroup]="flightsFormGroup" class="form flex flex-wrap justify-content-between align-content-center">

    <div class="input-box">
      <label for="cityFrom" class="input-box__label text-xs sm:text-sm desktop-view my-2">
        Place of departure
      </label>
      <p-dropdown [options]="cities" formControlName="cityFrom" optionLabel="name" inputId="cityFrom"
        [ngClass]="{'ng-invalid ng-dirty': citiesEqual}">
        <ng-template let-country pTemplate="selectedItem">
          <span>
            {{country?.name}} ({{country?.code}})
          </span>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="country-item">
            <span>{{country?.name}} ({{country?.code}})</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="input-box">
      <label for="cityTo" class="input-box__label text-xs sm:text-sm desktop-view  my-2">
        Place of arrival
      </label>
      <p-dropdown [options]="cities" formControlName="cityTo" optionLabel="name" inputId="cityTo"
        [ngClass]="{'ng-invalid ng-dirty': citiesEqual}">
        <ng-template let-country pTemplate="selectedItem">
          <span>
            {{country?.name}} ({{country?.code}})
          </span>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="country-item">
            <span>{{country?.name}} ({{country?.code}})</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="input-box">
      <label for="departureDate" class="input-box__label text-xs sm:text-sm desktop-view my-2">
        Departure date
      </label>
      <p-calendar [showTime]="true" formControlName="departureDate" hourFormat="24" dateFormat="yy-mm-dd"
        dataType="string" [touchUI]="isMobile" inputId="departureDate" appendTo="body" icon="pi pi-calendar"
        [showIcon]="true">
      </p-calendar>
    </div>

    <div class="input-box">
      <label for="returnDepartureDate" class="input-box__label text-xs sm:text-sm desktop-view my-2">
        Date of return departure
      </label>
      <p-calendar [showTime]="true" formControlName="returnDepartureDate" placeholder="Return departure date"
        hourFormat="24" dateFormat="yy-mm-dd" dataType="string" [touchUI]="isMobile" inputId="returnDepartureDate"
        appendTo="body" icon="pi pi-calendar" [showIcon]="true"
        [ngClass]="{'ng-invalid ng-dirty': isDepartureDateGreater}">
      </p-calendar>
    </div>

    <div class="searchbox desktop-view">
      <button pButton type="button" label="search" class="searchbox__button button button--expand"
        (click)="filterList()" [disabled]="isSearchDisabled"></button>
    </div>

    <div class="searchbox mobile-view">
      <button pButton type="button" icon="pi pi-search" class="searchbox__button button button--seach button--expand"
        (click)="filterList()" [disabled]="isSearchDisabled"></button>
    </div>

  </form>
</div>