@use 'variables';
@use 'media-queries';

.flights-filter-container {
  padding: 0.75rem;
  min-height: 120px;
  background-color: rgba(variables.$light, 0.9);

  &__heading {
    margin: 0.875rem 0;
  }
}

.form {
  width: 100%;

  @include media-queries.responsive(medium-devices) {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
}

.searchbox {
  background-color: variables.$secondary-blue;
  min-width: 40px;
  margin-top: 1rem;
  width: 100%;

  @include media-queries.responsive(medium-devices) {
    width: unset;
    margin: 0;
  }

  &__button {
    background-color: variables.$secondary-blue;
  }
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 45vw;

  @include media-queries.responsive(medium-devices) {
    width: 22vw;
    max-width: 200px;
  }
}

.button {
  &--expand {
    width: 100%;
  }
}

.mobile-view {
  display: none !important;

  @include media-queries.responsive(medium-devices) {
    display: flex !important;
  }
}

.desktop-view {
  @include media-queries.responsive(medium-devices) {
    display: none !important;
  }
}
